<h2>Ruby on Rails Guides (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  Estes são <b>Edge Guides</b>, baseados no <a href="https://github.com/rails/rails/tree/<%= @edge %>">master@<%= @edge[0, 7] %></a>.
</p>
<p>
  Se está procurando os da versão estável, por favor veja
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> ao invés.
</p>
<% else %>
<p>
  Estes são os novos guias para o Rails 5.1 baseados no <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  Estes guias são desenvolvidos para lhe tornar imediatamente produtivo com o Rails, e para lhe ajudar a entender como todas as pequenas partes se encaixam juntas.
</p>
<% end %>
<p>
Os guias para releases anteriores:
<a href="http://guides.rubyonrails.org/v5.1/">Rails 5.1</a>,
<a href="http://guides.rubyonrails.org/v5.0/">Rails 5.0</a>,
<a href="http://guides.rubyonrails.org/v4.2/">Rails 4.2</a>,
<a href="http://guides.rubyonrails.org/v4.1/">Rails 4.1</a>,
<a href="http://guides.rubyonrails.org/v4.0/">Rails 4.0</a>,
<a href="http://guides.rubyonrails.org/v3.2/">Rails 3.2</a>, e
<a href="http://guides.rubyonrails.org/v2.3/">Rails 2.3</a>.
</p>
